<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <header class="bg-white dark:bg-gray-900">

  
                  <%- include('./partials/nav'); %>
           
  
               
  
      
      </div>
  </header>

  
<body>
  
  <%- include('./partials/body'); %>

</body>


</html>